src/_Experiments/Selenium/src/Aegon.Automation/Service References/TestAutomationReference/TestAutomation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aegon.possible.com/Wcf/TestAutomation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aegon.Public.Website.Business.Features.TestAutomation" />
  <xs:import schemaLocation="http://aegon.possible.com/Wcf/TestAutomation.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareSandboxTestPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Aegon.Public.Website.Business.Features.TestAutomation" minOccurs="0" name="sandbox" type="q1:SandboxEnum" />
        <xs:element minOccurs="0" name="pageKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageType" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="properties" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareSandboxTestPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Aegon.Public.Website.Business.Features.TestAutomation" minOccurs="0" name="PrepareSandboxTestPageResult" nillable="true" type="q3:SandboxPageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHomePageData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Aegon.Public.Website.Business.Features.TestAutomation" minOccurs="0" name="sandbox" type="q4:SandboxEnum" />
        <xs:element minOccurs="0" name="pageKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="properties" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHomePageDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Aegon.Public.Website.Business.Features.TestAutomation" minOccurs="0" name="EditHomePageDataResult" nillable="true" type="q6:SandboxPageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDescendantPages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageUrl" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pageTypes" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="languageBranch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDescendantPagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Aegon.Public.Website.Business.Features.TestAutomation" minOccurs="0" name="GetDescendantPagesResult" nillable="true" type="q8:ArrayOfSandboxPageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageTypeIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>